/* Navbar css */

body {margin: 0;
  background-color:rgb(226, 224, 224);
  background-repeat: no-repeat;
  background-size: cover;
  }
  input[type=text]{
      width:40%;
      height:35px;
      color:black;
  border:none;
   background-color: rgb(226, 226, 226); 
   /* background-color: grey; */
  /* box-shadow:inset 2px 2px 2px 2px rgb(54, 53, 53); */
  -webkit-transition-: 0.5s;
  }
  input[type=radio]{
      float: right;
  }

.container{
  align-self: center;
  padding-left: 150px;
  padding-top: 20px;
}
  .card{
  background-color: ivory;
  box-shadow: #026670 2px 2px 2px 2px;

  }
  
  .forms{
  width:500px;
  height:700px;
  background-color:rgb(186, 184, 184);
  border-style:solid ;
  border-width: 3px;
  border-color: black;
  }

  /* About the website part in home  */

  .about
{
  position: relative;
  width: 100%;
  padding: 5%;
  display: flex;
}
.about .contentBx
{
  /* background: #162c3b; */
  background: #5cbda1;
  padding: 100px;
  width: 50%;
}
.heading{
  color: black;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.text{
  color: black;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.about .imgBx{
  background: url(about.jpeg);
  width: 50%;
  background-size:cover;
  background-position: center;
}

/* Login sign up part css of home page  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body,
input {
font-family: "Poppins", sans-serif;
}



.title {
font-size: 2.2rem;
color: #444;
margin-bottom: 10px;
}

.input-field {
max-width: 380px;
width: 100%;
background-color: #f0f0f0;
margin: 10px 0;
height: 55px;
border-radius: 55px;
display: grid;
grid-template-columns: 15% 85%;
padding: 0 0.4rem;
position: relative;
}

.input-field i {
text-align: center;
line-height: 55px;
color: #acacac;
transition: 0.5s;
font-size: 1.1rem;
}

.input-field input {
background: none;
outline: none;
border: none;
line-height: 1;
font-weight: 600;
font-size: 1.1rem;
color: #333;
}

.input-field input::placeholder {
color: #aaa;
font-weight: 500;
}

.social-text {
padding: 0.7rem 0;
font-size: 1rem;
}

.social-media {
display: flex;
justify-content: center;
}

.social-icon {
height: 46px;
width: 46px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 0.45rem;
color: #026670;
border-radius: 50%;
border: 1px solid #026670;
text-decoration: none;
font-size: 1.1rem;
transition: 0.3s;
}

.social-icon:hover {
color: #9fedd7;
border-color: #9fedd7;
}

.btn {
width: 150px;
background-color: #026670;
border: none;
outline: none;
height: 49px;
border-radius: 49px;
color: #fff;
text-transform: uppercase;
font-weight: 600;
margin: 10px 0;
cursor: pointer;
transition: 0.5s;
}

.btn:hover {
/* background-color: #4d84e2; */
background-color: #edeae5;
color: #026670;
}


.image {
width: 100%;
transition: transform 1.1s ease-in-out;
transition-delay: 0.4s;
}




/* footer css */
.footer{
  background: #026670;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul{
  display: flex;
  justify-content: center;
  align-items:center;

}
.footer ul li{
  list-style: none;
}
.footer ul li a
{
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}
.footer ul li a img{
  filter: invert(1);
  max-width: 20px;
}

/* The sidebar menu */
.sidebar {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0;
left: 0;
background-color:#024e54; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: white;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
color: #fef9c7;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
font-size: 20px;
cursor: pointer;
background-color:#026670;
color: white;
padding: 10px 15px;
border: none;
}

.openbtn:hover {
background-color:#024e54;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
transition: margin-left .5s; /* If you want a transition effect */
padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}
}
@media screen and (max-width: 700px) {
.sidebar {
  width: 100%;
  height: auto;
  position: relative;
}
.sidebar a {float: left;}
div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}
}