/* navbar css */
.profile{
    height:60px;
    width:60px;
    border-radius: 50%;
  }
  
  .navbar-nav{
    display: inline;
    width: 100%;
  }
  
  .nav-item{
    display: inline-block;
  }
  
  #profilepic
  {
    width: 30%;
    font-size: 18px;
  }

@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.form-control
{
  margin-left: 20px;
}
  .form
  {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 1%;
    max-width: 1000px;
    max-height: 1000px;
    margin: 50px auto 100px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #026670;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #026670;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #026670;
    text-decoration: none;
  }

  .input-container > i{
    padding: 5px;
  }

  body {
    background: #026670; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #edeae5, #edeae5);
    background: -moz-linear-gradient(right, #edeae5,#edeae5);
    background: -o-linear-gradient(right, #edeae5, #edeae5);
    background: linear-gradient(to left, #edeae5, #edeae5);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .submit {
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000000;
    background-color: #026670;
    border: none;
    border-radius: 15px;
    box-shadow: 0 px #Edeae5;
  }

  .submit:hover {background-color: #9FEDD7}

  .submit:active {
    background-color: #026670;
    color:#ffffff;
    box-shadow: 0 5px #edeae5;
    transform: translateY(4px);
  }

  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }

  .icon {
    padding: 5px;
    color: black;
    min-width: 50px;
    text-align: center;
  }