{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Ask me Anything</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<div id="main">
    <!-- navbar code  -->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#026670;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Ask me Anything</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <button class="openbtn" onclick="openNav()">&#9776;</button>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item ">
                          <a class="nav-link" href="/dashboard">{{det.n.category}}Dashboard<span class="sr-only">(current)</span></a>
                      </li>
                        <li class="nav-item ">
                          <a class="nav-link" href="logout">Logout<span class="sr-only">(current)</span></a>
                      </li>
                      {% else %}
                    <li class="nav-item ">
                      <a class="nav-link" href="/register/tutor">Register as Tutor<span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item ">
                      <a class="nav-link" href="/register/student">Register as Student<span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                     <a class="nav-link" href="login">Login</a>
                    </li>
                    {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>

                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    
    <div class="container" style="background-color: white;" >
      {% for i in que %}
        <div class="card" style="width:80%;">
            <div class="card-body">
              <h5 class="card-title">{{i.topic}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">posted by:{{i.postedBy}}</h6>
              <p class="card-text">{{i.quesText}}</p>
              <a href="#" class="card-link">See Answer</a>
              <a href="#" class="card-link">Comments</a>
            </div>
          </div>
         <br>
         {% endfor %}
          
        
      </div>




    <!-- about the website section  -->
    <section class="about" id="about">
        <div class="contentBx">
            <h2 class="heading">About the Content</h2>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ratione ullam, distinctio beatae excepturi incidunt voluptatibus quia dicta voluptate iure corporis dignissimos debitis expedita mollitia unde laudantium veniam? Laboriosam facilis voluptate numquam fugit non repudiandae officia provident magnam asperiores. Architecto nulla minima sed deserunt cum delectus in voluptates veniam officia voluptas a, quam quod harum odit soluta excepturi vel unde assumenda earum aliquam! Similique delectus ut perspiciatis tenetur. Quia sed eligendi incidunt qui doloremque voluptate!
               </p>
        </div>
        <div class="imgBx"></div>
    </section>

    
    
  

      <section class="footer">
        <p class="text">DESIGNED AND DEVELOPED BY TEAM CAPTURED</p>

        <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>



        <!-- <ul style="background: none">
            <p class="text">Follow us on:</p>
            <li><a href="#"><img alt="" src="./assets/images/facebook.png"></a></li>
            <li><a href="#"><img alt="" src="./assets/images/twitter.png"></a></li>
            <li><a href="#"><img alt="" src="./assets/images/linkedin.png"></a></li>
        </ul> -->
    </section>



    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<!--Dashboard sidebar-->
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#recent topics">Topics  <i style='font-size:24px' class='far'>&#xf24d;</i></a>
    <a href="/home/Science">Science</a>
    <a href="/home/SocialScience">Social Science</a>
    <a href="/home/LanguageAndLiterature">Language and Literature</a>
    <a href="/home/Miscellaneous">Miscellaneous</a>
  </div>
</div>
  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    
    </script>
</body>

</html>