{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'home.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div id='main'>
      <!-- Dashboard navigation bar -->
 <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#026670;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
            </li>
        <!-- <li class="nav-item ">
          <a class="nav-link" href="#">icon <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="material-icons">&#xe7ff;</i></a>
        </li>
        <li class="nav-item">
            
            <a class="nav-link" href="/dashboard/settings"><i class="material-icons">&#xe8b8;</i></a>
            
          </li>
          <li >
            {% if det.profilepic %}
            <img src="{{det.profilepic.url}}" style="width: 60px;height: 60px;border-radius: 50%;float: right;">
            {% endif %}
            
          </li>
       </ul>
    </div>
</nav>
<!--components of page-->
<div class="flex-container">

      
    <div  style="flex-grow: 5; background-color: white;"> 
        <img src="graph.PNG" width="100%" height="500px">
        
            
          </div>
          
             <div class="extrainfo" style="flex-grow: 2; background-color:#15a7b5;">
            yaha pe stars aur achievements wgera ayegi</div>
             <div class="extrainfo" style="flex-grow: 2; background-color: #15a7b5;"></div>
              
      </div>
      <div class="flex-container">

      
        <div class="list-group" id="recent" style="flex-grow: 5; background-color: #edeae5;"> <h3 style="color:#026670;">Recent Questions Answered </h3>
            
               
                  {% for i in que2 %}
                  <a href="solution/{{i.id}}" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    
                    <h5 class="mb-1">{{i.quesText}}</h5>
                    <small>{{i.time|naturaltime}}</small>
                  </div>
                  <p class="mb-1">posted by: {{i.postedBy}}</p>
                  <small class="mb-2"><a href="solution/{{i.id}}">See  answer</a></small>
                </a>
                {% endfor %}
              </div>
            </div>
          <br>
          <div id="notify" >
              <h5>Notifications!</h5>
              {% for i in que %}
              {% if i.accepted == False %}
              {% if i.expired == False %}
            <div class="alert alert-primary" role="alert">
                <h5>{{i.topic}}</h5>
                <br>
                <h6>{{i.quesText}}</h6>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
              
                 
              
                <button type="submit" class="btn btn-dark my-3" ><b><a href="dashboard/save/{{i.id}}">Accept and save</a></b></button>
                <button type="button" class="btn btn-dark my-3" ><b><a href="dashboard/answer/{{i.id}}">Accept and Answer</a></b></button>
                
              </div>
               <br><br>
               {% endif %}
              {% endif %}
              {% endfor %}
               <br>
                      
              </div>     
              
            <div>
          <div id='current'>
            {% for i in que %}
            {% if i.id == workOn %}
            <h5>
            Working on:{{ i.quesText }}
            </h5>
            <button ><a href="dashboard/answer/{{workOn}}">Answer</a></button>

            {% endif %}
            {% endfor %}
            </div>
            
            </div>
            <div id="expired">
              <h3>Expired questions</h3>
              {% for i in que %}
              {% if i.acceptedBy == request.user.username %}
               {% if i.expired == True %}
                
                  <div class="d-flex w-100 justify-content-between">
                    
                    <h5 class="mb-1">{{i.quesText}}</h5>
                    <small>1 day ago</small>
                  </div>
                  <p class="mb-1">posted by: {{i.postedBy}}</p>
                  {% endif %}
                {% endif %}
                {% endfor %}
            </div>
<!--Dashboard sidebar-->
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#recent topics">Topics  <i style='font-size:24px' class='far'>&#xf24d;</i></a>
    <a href="#notify">Notifications <i style="font-size:24px" class="fa">&#xf0f3;</i></a>
    <a href="#recent">Recent Activity  <i class="material-icons">&#xe0c9;</i></a>
    <a href="#expired">Expired</a>
    <a href="#current">Current</a>
  </div>
</div>
  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    
    </script>
    </body>